.btn{
  height: 50px;
  border-radius: 3px;
  @include fsz(14px);
  font-family: $font-heading-md;
  text-transform: uppercase;
  position: relative;
  padding-top: 3px;
  display: inline-flex;
  align-items: center;
  &--light{
    background: $white;
    color: $black;
    justify-content: center;
    &:after{
      content: '';
      height: 3px;
      width: 0;
      position: absolute;
      bottom: 0;
      background: $blue;
      border-radius: 0 0 3px 3px;
      transition: inherit;
      left: 0;
    }
    &:hover{
      &:after{
        width: 100%;
      }
    }
  }
  &--default{
    background: $blue;
    color: $white;
    width: 200px;
    padding-left: 30px;
    overflow: hidden;
    &:before{
      content: "\ea02";
      font-family: $font-icon;
      position: absolute;
      right: 25px;
      @include fsz(11px);
      transition: inherit;
    }
    &:after{
      content: '';
      height: 100%;
      width: 50px;
      background: rgba($white, 0.2);
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(100%);
      transition: inherit;
    }
    &:hover{
      &:after{
        transform: none;
      }
      &:before{
        transform: translateX(6px);
      }
    }
  }
}

.icon-rounded{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: $blue;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  @include fsz(14px);
  border: 2px solid transparent;
  &:hover{
    background: $white;
    color: $blue;
    border: 2px solid $blue;
  }
}
