{{ define "main" }}
  <section class="team">
    <div class="container">
      {{ range $i,$p := .Site.Data.team.member }}
      <div class="team-item">
        <div class="row{{if (modBool $i 2)}} flex-row-reverse-lg{{end}}">
          <div class="col-12 col-sm-6 col-lg-5">
            <div class="team-item__img"><img class="img-responsive" src="{{.image | relURL}}" alt="{{.title}}"></div>
          </div>
          <div class="col-12 col-lg-7">
            <div class="team-text {{if (modBool $i 2)}} even{{end}}">
              <a class="icon-rounded" href="{{.linkedin_link}}" target="_blank"><i class="icon icon-linkedin"></i></a>
              <h2>{{.title}}</h2>
              <div class="team-text__subheading">{{.specialty}}</div>
              <div class="team-text__body">
                {{ if in (string .text) "\n\n" }}
                  {{ .text | markdownify }}
                {{ else }}
                  <p>{{.text | markdownify}}</p>
                {{ end }}
              </div>
            </div>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </section>
  <section class="staff">
    <div class="container">
      <h2 class="text-center">{{.Site.Data.team.staff_title}}</h2>
      <div class="row gutter-20">
        {{ range $i,$p := .Site.Data.team.staff}}
        <div class="col-12 col-sm-6">
          <div class="staff-block">
            <img class="staff-block__img img-responsive {{if not (modBool $i 2)}} odd{{end}}" src="{{.image | relURL}}" alt="">
            <div class="staff-block__body">
              <a href="{{.linkedin_link}}" target="_blank" class="icon-rounded"><i class="icon icon-linkedin"></i></a>
              <div class="staff-block__text">
                <h4>{{.title}}</h4>
                <div class="staff-block__subheading">{{.specialty}}</div>
              </div>
            </div>
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </section>
{{ end }}
