<section class="contact" id="contact">
  <div class="container container--sm">
    <div class="row">
      <div class="col-12 col-sm-7 col-lg-8">
        <div class="form">
          <h2>{{.Site.Data.contact.contact_heading}}</h2>
          <form name="contact-form" method="POST" action="https://us-central1-carpal-tunnel-center-form.cloudfunctions.net/form_sending" novalidate autocomplete="off">
                      <input type="text" name="company" autocomplete="off" tabindex="-1" aria-hidden="true" style="position:absolute;left:-5000px;top:auto;width:1px;height:1px;overflow:hidden;" placeholder="Your company (leave blank)">
                      <input type="hidden" name="form_loaded_at" value="">
                      <script>(function(){try{var f=document.currentScript&&document.currentScript.previousElementSibling;var form=document.currentScript.parentNode;var ts=form.querySelector('input[name="form_loaded_at"]');ts.value=Date.now();}catch(e){}})();</script>
            <div class="contact__result"></div>
            <div class="row gutter-20">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <input class="form-control" type="text" name="name" placeholder="Full name" data-rule="required|name">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <input class="form-control" type="email" name="email" placeholder="Email address" data-rule="required|email">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <input class="form-control" type="text" name="phone" placeholder="Phone number" data-rule="required|phone_number-14">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <input class="form-control" type="text" name="date" placeholder="Appointment date" data-rule="required|date-10">
                </div>
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" placeholder="Text message" data-rule="required"></textarea>
            </div>
            <p class="form-hint">This site is protected by reCAPTCHA and the Google <a target="_blank" href="https://policies.google.com/privacy">Privacy Policy</a> and <a target="_blank" href="https://policies.google.com/terms">Terms of Service</a> apply.</p>
            <button class="btn btn--default" type="submit">Send message</button>
          </form>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="locations">
          <h2>{{.Site.Data.contact.locations_heading}}</h2>
          <h5>CLEVELAND OFFICE</h5>
          <div class="locations__subheading">Main Office</div>
          <div class="locations__text">
            <i class="icon icon-location"></i>
            <div>{{.Site.Data.contact.cleveland.cleveland_address_1}}</div>
            <div>{{.Site.Data.contact.cleveland.cleveland_address_2}}</div>
          </div>
          <div class="locations__text">
            <i class="icon icon-email"></i>
            <a href="mailto:{{.Site.Data.contact.cleveland.cleveland_email}}">{{.Site.Data.contact.cleveland.cleveland_email}}</a>
          </div>
          <div class="locations__text mt-0">
            <i class="icon icon-phone"></i>
            <a href="tel:{{ replaceRE "-" "" .Site.Data.contact.cleveland.cleveland_phone}}">{{.Site.Data.contact.cleveland.cleveland_phone}}</a>
          </div>
          <div class="locations__text">
            <i class="icon icon-clock"></i>
            <div>{{.Site.Data.contact.cleveland.cleveland_hours_1}},</div>
            <div>{{.Site.Data.contact.cleveland.cleveland_hours_2}}</div>
          </div>
          <h5>LAKEWOOD OFFICE</h5>
          <div class="locations__text">
            <i class="icon icon-location"></i>
            <div>{{.Site.Data.contact.lakewood.lakewood_address_1}}</div>
            <div>{{.Site.Data.contact.lakewood.lakewood_address_2}}</div>
            <div>{{.Site.Data.contact.lakewood.lakewood_address_3}}</div>
          </div>
          <div class="locations__text">
            <i class="icon icon-phone"></i>
            <a href="tel:{{ replaceRE "-" "" .Site.Data.contact.lakewood.lakewood_phone }}">{{.Site.Data.contact.lakewood.lakewood_phone}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
