<section class="contact" id="contact">
  <div class="container container--sm">
    <div class="row">
      <div class="col-12 col-sm-7 col-lg-8">
        <div class="form">
          <h2>{{.Site.Params.contact.contact_heading}}</h2>
          <form>
            <div class="row gutter-20">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Full name">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <input class="form-control" type="email" placeholder="Email address">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Phone number">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Appointment date">
                </div>
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" placeholder="Text message"></textarea>
            </div>
            <button class="btn btn--default" type="submit">Send message</button>
          </form>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="locations">
          <h2>{{.Site.Params.contact.locations_heading}}</h2>
          <h5>CLEVELAND OFFICE</h5>
          <div class="locations__subheading">Main Office</div>
          <div class="locations__text">
            <i class="icon icon-location"></i>
            <div>{{.Site.Params.contact.cleveland_address_1}}</div>
            <div>{{.Site.Params.contact.cleveland_address_2}}</div>
          </div>
          <div class="locations__text">
            <i class="icon icon-email"></i>
            <a href="mailto:{{.Site.Params.contact.cleveland_email}}">{{.Site.Params.contact.cleveland_email}}</a>
          </div>
          <div class="locations__text mt-0">
            <i class="icon icon-phone"></i>
            <a href="tel:{{ replaceRE "-" "" .Site.Params.contact.cleveland_phone}}">{{.Site.Params.contact.cleveland_phone}}</a>
          </div>
          <div class="locations__text">
            <i class="icon icon-clock"></i>
            <div>{{.Site.Params.contact.cleveland_hours_1}},</div>
            <div>{{.Site.Params.contact.cleveland_hours_2}}</div>
          </div>
          <h5>LAKEWOOD OFFICE</h5>
          <div class="locations__text">
            <i class="icon icon-location"></i>
            <div>{{.Site.Params.contact.lakewood_address_1}}</div>
            <div>{{.Site.Params.contact.lakewood_address_2}}</div>
            <div>{{.Site.Params.contact.lakewood_address_3}}</div>
          </div>
          <div class="locations__text">
            <i class="icon icon-phone"></i>
            <a href="tel:{{ replaceRE "-" "" .Site.Params.contact.lakewood_phone }}">{{.Site.Params.contact.lakewood_phone}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
