<section class="contact" id="contact">
  <div class="container container--sm">
    <div class="row">
      <div class="col-12 col-sm-7 col-lg-8">
        <div class="form">
          <h2>{{.Site.Data.contact.contact_heading}}</h2>
          <form name="contact-form" method="POST" action="https://us-central1-carpal-tunnel-center-form.cloudfunctions.net/form_sending">
            <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" />
            <div class="row gutter-20">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <input class="form-control" type="text" name="name" placeholder="Full name" data-rule="required|name">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <input class="form-control" type="email" name="email" placeholder="Email address" data-rule="required|email">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <input class="form-control" type="text" name="phone" placeholder="Phone number" data-rule="required|phone_number-14">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <input class="form-control" type="text" name="date" placeholder="Appointment date" data-rule="required|date-10">
                </div>
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" placeholder="Text message" data-rule="required"></textarea>
            </div>
            <button class="btn btn--default" type="submit">Send message</button>
          </form>
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="locations">
          <h2>{{.Site.Data.contact.locations_heading}}</h2>
          <h5>CLEVELAND OFFICE</h5>
          <div class="locations__subheading">Main Office</div>
          <div class="locations__text">
            <i class="icon icon-location"></i>
            <div>{{.Site.Data.contact.cleveland.cleveland_address_1}}</div>
            <div>{{.Site.Data.contact.cleveland.cleveland_address_2}}</div>
          </div>
          <div class="locations__text">
            <i class="icon icon-email"></i>
            <a href="mailto:{{.Site.Data.contact.cleveland.cleveland_email}}">{{.Site.Data.contact.cleveland.cleveland_email}}</a>
          </div>
          <div class="locations__text mt-0">
            <i class="icon icon-phone"></i>
            <a href="tel:{{ replaceRE "-" "" .Site.Data.contact.cleveland.cleveland_phone}}">{{.Site.Data.contact.cleveland.cleveland_phone}}</a>
          </div>
          <div class="locations__text">
            <i class="icon icon-clock"></i>
            <div>{{.Site.Data.contact.cleveland.cleveland_hours_1}},</div>
            <div>{{.Site.Data.contact.cleveland.cleveland_hours_2}}</div>
          </div>
          <h5>LAKEWOOD OFFICE</h5>
          <div class="locations__text">
            <i class="icon icon-location"></i>
            <div>{{.Site.Data.contact.lakewood.lakewood_address_1}}</div>
            <div>{{.Site.Data.contact.lakewood.lakewood_address_2}}</div>
            <div>{{.Site.Data.contact.lakewood.lakewood_address_3}}</div>
          </div>
          <div class="locations__text">
            <i class="icon icon-phone"></i>
            <a href="tel:{{ replaceRE "-" "" .Site.Data.contact.lakewood.lakewood_phone }}">{{.Site.Data.contact.lakewood.lakewood_phone}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>

$('form[name=contact-form]').on('submit', function () {

var _form = $(this);
var data = _form.serialize();
var btn = _form.find('button[type=submit]');
btn.text('Sending...');
$.ajax({
url: _form.attr('action'),
type: _form.attr('method'),
dataType: 'json',
data: data,
success: function (response) {
    btn.text('SUBMIT');
    if (response.success) {

        _form.trigger("reset");
        alert(response.message);

        return false;
    } else {
        if (response.message) {
            alert(response.message);
        } else {
            alert('Something wrong. Please try again.');
        }
    }
    return false;
},
error: function (err) {
    btn.text('SUBMIT');
    console.log(err);
    return false;
}
});
return false;
});

</script> 
<!--<script>
  console.log(document.querySelector('form[name="contact-form"'));
   document.querySelector('form[name="contact-form"').onsubmit = function(event) {
     event.preventDefault();
     var form = this;
     var btn = form.querySelector('button[type=submit]');
     btn.innerHTML = 'Sending...';
     var data = new FormData(form);
     var request = new XMLHttpRequest();
     request.onload = function() {
       btn.innerHTML = 'SUBMIT';
       var response = {};
       try {
         response = JSON.parse(this.responseText);
       } catch(err) {}
       if (this.status === 200 && response.success) {
         form.reset();
         if (response.message) {
           alert(response.message);
         }
         return true;
       }
       if (response.message) {
         alert(response.message);
       } else {
         alert('Something wrong. Please try again.');
       }
     }
     request.onerror = function(err) {
       btn.innerHTML = 'SUBMIT';
     }
     request.open(this.method, this.action);
     request.send(data);

   }
 </script>-->
