<footer class="site-footer">
  <div class="container container--sm">
    Copyright © 2019 Carpal Tunnel Clinic. All Rights reserved.
  </div>
</footer>

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ $tinyslider := resources.Get "js/vendor/tiny-slider.js" }}
{{ $validation := resources.Get "js/vendor/js-form-validator.js" }}
{{ $mask_input := resources.Get "js/vendor/vanilla-masker.js" }}

{{ $js := slice $tinyslider $validation $mask_input | resources.Concat "assets/js/bundle.js" | minify }}
<script src="{{$js.RelPermalink}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/object-fit-images/3.2.4/ofi.js" integrity="sha256-yE0r0xKguW5+Mx31/ApDi0I3aYuUMfSwUD5208Ajz9k=" crossorigin="anonymous"></script>
{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/scripts.js"}}
{{ $script_dest := slice $script | resources.Concat "assets/js/scripts.js" | minify}}
<script src="{{ $script_dest.RelPermalink }}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{.Site.Params.googleAnalitycsID}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{.Site.Params.googleAnalitycsID}}');
</script>

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
