<section class="home-process">
  <div class="container container--sm">
    <div class="row">
      <div class="col-12 col-md-4">
        <h2>{{.Site.Data.our_process.process.heading}}</h2>
        <div class="home-process__subheading">{{.Site.Data.our_process.process.subheading}}</div>
      </div>
      {{ range .Site.Data.our_process.process.item }}
        <div class="col-12 col-sm-6 col-md-4">
          <div class="process-block">
            <div class="process-block__img"><img src="{{.icon}}" alt=""></div>
            <p>{{.text | safeHTML}}</p>
          </div>
        </div>
      {{end}}
    </div>
  </div>
</section>
