<section class="testimonials" id="{{.Site.Data.testimonials.id}}">
  <div class="container container--sm">
    <h2 class="text-center">What our patients say</h2>
    <div class="testimonials-slider">
      {{ range .Site.Data.testimonials.review }}
      <div>
        <div class="testimonials-slider__item">
          {{ $name := .name }}
          {{ with .image }}
          <div class="testimonials-slider__item-img">
              <img class="img-responsive" src="{{.}}" alt="{{ $name }}">
          </div>
          {{ end }}
          <figure>
            <blockquote>
              {{ if in (string .text) "\n\n" }}
              {{ .text | markdownify }}
              {{ else }}
                <p>{{ .text | markdownify}}</p>
              {{ end }}
            </blockquote>
            <figcaption>
              <img class="testimonials-slider__item-rate" src="assets/images//stars.svg" alt="">
              <h4>{{.name}}</h4>
              <div class="testimonials-slider__subheading">{{.company}}</div>
            </figcaption>
          </figure>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>
