{{ define "main" }}

  {{- partial "slideshow.html" . -}}

  {{ if .Site.Data.our_process.process.enable }}

    {{- partial "our-process.html" . -}}

  {{ end }}

  {{- partial "home-team.html" . -}}

  {{- partial "testimonials.html" . -}}

{{ end }}

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
